# Ignore node_modules in all subfolders
**/node_modules/
node_modules/

# Ignore production builds
**/dist/
dist/
.vite/

# Ignore log files
*.log
**/*.log
npm-debug.log*

# Ignore local environment files
.env*.local
**/site-stats/
.DS_Store
